
.md-editor .arknights-theme,.md-editor-dark .arknights-theme {
    --md-theme-code-inline-color: #f06;
    --md-theme-code-inline-bg-color: var(--area);
    --md-theme-code-block-color: var(--text);
    --md-theme-code-block-bg-color: var(--area)
}

.arknights-theme code {
    margin: 0 4px;
    word-break: break-word;
    overflow-x: auto;
    position: relative;
    font-size: .87em;
    padding: .065em .4em
}

.arknights-theme .md-editor-code {
    border: 1px solid var(--border)
}

.arknights-theme .md-editor-code:before {
    top: -4px;
    left: -4px;
    width: 20px;
    height: 20px;
    content: "";
    border-top: 8px solid var(--yellow);
    border-left: 8px solid var(--yellow);
    z-index: 10;
    position: absolute
}

.arknights-theme .md-editor-code:after {
    right: -4px;
    bottom: -4px;
    width: 20px;
    height: 20px;
    content: "";
    z-index: 10;
    border-right: 8px solid var(--blue);
    border-bottom: 8px solid var(--blue);
    position: absolute
}

.arknights-theme .md-editor-code pre {
    margin: 0;
    font-family: -apple-system,system-ui,Menlo,Monaco,Consolas,Courier New;
    position: relative;
    line-height: 1.75!important
}

.arknights-theme .md-editor-code pre code {
    line-height: 1.75!important;
    font-size: 14px;
    padding: 26px 12px;
    overflow-x: auto;
    margin: 0;
    word-break: normal;
    display: block;
    position: unset!important
}

.arknights-theme .md-editor-code pre:nth-child(odd):before {
    border-top-color: var(--green);
    border-left-color: var(--green)
}

.arknights-theme .md-editor-code pre:nth-child(odd):after {
    border-right-color: var(--purple);
    border-bottom-color: var(--purple)
}

.arknights-theme .code-tabs pre {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none
}

.arknights-theme h1,.arknights-theme h2,.arknights-theme h3,.arknights-theme h4,.arknights-theme h5,.arknights-theme h6 {
    line-height: 1.5;
    padding-left: 8px;
    padding-bottom: 0;
    margin-top: 35px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: var(--text)
}

.arknights-theme h1 {
    font-size: 30px;
    margin-bottom: 5px
}

.arknights-theme h2 {
    font-size: 24px;
    position: relative
}

.arknights-theme h2:after {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    position: absolute
}

.arknights-theme h3 {
    font-size: 18px;
    padding-bottom: 0
}

.arknights-theme h4 {
    font-size: 16px
}

.arknights-theme h5 {
    font-size: 15px
}

.arknights-theme h6 {
    margin-top: 5px
}

.arknights-theme img {
    max-width: 100%
}

.arknights-theme a {
    margin: 0 4px;
    text-decoration: none;
    color: var(--blue);
    transition: .3s;
    display: inline-block;
    vertical-align: bottom;
    position: relative
}

.arknights-theme a:before {
    content: "READ MORE +";
    font-size: 15px;
    font-family: -apple-system,system-ui,Menlo,Monaco,Consolas,Courier New;
    font-weight: 400;
    letter-spacing: 0px;
    bottom: 90%;
    width: 130px;
    max-width: 0px;
    color: #fff;
    background-color: #1fb3ff;
    position: absolute;
    white-space: nowrap;
    transition: .3s;
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden
}

.arknights-theme a:after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed var(--blue);
    position: absolute
}

.arknights-theme a:hover:before,.arknights-theme a:active:before {
    max-width: 130px;
    padding-left: 14px
}

.arknights-theme ol,.arknights-theme ul {
    padding-left: 28px
}

.arknights-theme ol li,.arknights-theme ul li {
    line-height: 2em;
    margin-bottom: 0;
    list-style: inherit
}

.arknights-theme ol li .task-list-item,.arknights-theme ul li .task-list-item {
    list-style: none
}

.arknights-theme ol li .task-list-item ul,.arknights-theme ol li .task-list-item ol,.arknights-theme ul li .task-list-item ul,.arknights-theme ul li .task-list-item ol {
    margin-top: 0
}

.arknights-theme ol li::marker,.arknights-theme ul li::marker {
    color: var(--blue)
}

.arknights-theme ol ul,.arknights-theme ol ol,.arknights-theme ul ul,.arknights-theme ul ol {
    margin-top: 3px
}

.arknights-theme ol ul li,.arknights-theme ol ol li,.arknights-theme ul ul li,.arknights-theme ul ol li {
    border-bottom: none
}

.arknights-theme ol li {
    padding-left: 6px;
    list-style: decimal-leading-zero
}

.arknights-theme p {
    line-height: inherit;
    margin-top: 22px;
    margin-bottom: 22px
}

.arknights-theme blockquote {
    padding: 12px 23px 2px;
    border: 1px solid var(--border-blue);
    background-color: var(--area);
    margin: 22px 0;
    position: relative
}

.arknights-theme blockquote>p {
    margin: 10px 0
}

.arknights-theme blockquote:after {
    content: "FROM";
    top: 0;
    left: 0;
    width: 40px;
    line-height: 1;
    padding: 2px 0;
    font-size: 12px;
    color: #fff;
    font-weight: lighter;
    position: absolute;
    background-color: var(--blue);
    text-align: center;
    pointer-events: none
}

.arknights-theme blockquote:before {
    content: "CITATION";
    top: 0;
    left: 44px;
    line-height: 1;
    padding: 2px 0;
    font-size: 12px;
    color: var(--blue);
    font-weight: lighter;
    position: absolute;
    pointer-events: none
}

.arknights-theme table {
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    background-color: var(--table-bg-color);
    overflow: auto;
    border-collapse: collapse;
    margin-bottom: 1em
}

.arknights-theme table tr:hover th,.arknights-theme table tr:hover td {
    border-bottom: 1px solid var(--yellow)
}

.arknights-theme thead {
    text-align: left
}

.arknights-theme tbody tr:nth-child(2n-1) {
    background-color: #e0e0e01a
}

.arknights-theme th {
    font-size: 1.2em;
    border-bottom: 1px dashed var(--line)
}

.arknights-theme th,.arknights-theme td {
    padding: 12px 7px;
    line-height: 24px
}

.arknights-theme td {
    min-width: 120px;
    border-bottom: 1px solid var(--table-bg-color)
}

.md-editor .arknights-theme {
    --bg-color: rgba(224, 224, 224, .1);
    --blue: #37b2ff;
    --yellow: #feea1e;
    --orange: orange;
    --purple: #e699e6;
    --green: #a7ecad;
    --text: #333;
    --area: #f8f8f8;
    --line: #adb0b8;
    --border: rgb(245, 245, 247);
    --border-blue: #37b2ff;
    --table-bg-color: #fff
}

.md-editor-dark .arknights-theme {
    --bg-color: rgba(224, 224, 224, .1);
    --blue: #37b2ff;
    --yellow: #feea1e;
    --orange: orange;
    --purple: #e699e6;
    --green: #a7ecad;
    --text: #c9d1d9;
    --area: #1a1a1a;
    --line: #75787e;
    --border: rgb(78, 78, 78);
    --border-blue: #2781b9;
    --table-bg-color: var(--area)
}

.arknights-theme {
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden;
    color: var(--text);
    position: relative;
    background-image: linear-gradient(90deg,rgba(217,234,251,.25) 3%,transparent 0),linear-gradient(360deg,rgba(217,234,251,.25) 3%,transparent 0);
    background-size: 20px 20px;
    background-position: 50%
}

.arknights-theme hr {
    height: 1px;
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;
    background-size: 4px 1px;
    background-image: linear-gradient(to left,var(--blue) 0%,var(--blue) 25%,transparent 50%)
}

.arknights-theme input[type=checkbox] {
    position: relative
}

.arknights-theme input[type=checkbox]:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: inherit;
    height: inherit;
    background: #f0f8ff;
    border: 1px solid #add6ff;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 1;
    position: absolute
}

.arknights-theme input[type=checkbox]:checked:after {
    content: "";
    top: 10%;
    left: 18%;
    width: 90%;
    height: 40%;
    border-left: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
    z-index: 2;
    transform: rotate(-45deg);
    position: absolute
}

@media (max-width: 720px) {
    .arknights-theme h1 {
        font-size:24px
    }

    .arknights-theme h2 {
        font-size: 20px
    }

    .arknights-theme h3 {
        font-size: 18px
    }
}

[class*="arknights-theme md-editor-scrn"] span[rn-wrapper] {
    top: 26px
}
